In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


import warnings
warnings.filterwarnings('ignore')
import code_for_flask
import pickle

In [31]:
df = pd.read_csv('stats_for_flask')

In [32]:
df['is_clutch'].replace([0,1],['No','Yes'],inplace=True)

In [33]:
x = df[['player', 'is_clutch']]

In [9]:
def player_stat(name1, name2):
    player1 = (df.loc[df['player'] == name1]) 
    player2 = (df.loc[df['player'] == name2])
    both = pd.merge(player1,player2, how = 'outer')
    both = both.T
    both.reset_index(level=0, inplace=True)
    both.columns = both.iloc[0]
    stats = both.reindex(both.index.drop(0))
    stats = stats.rename(columns={'player':' '})
    stats = stats.set_index(' ')
    stats = stats.drop(['shots_made', '2pt_made', '3pt_made', 'FT_made'])
    return stats

In [24]:
x = pickle.load(open('comparison.p', 'rb'))

In [27]:
x('Steve Nash', 'Chris Paul', df)

0             Steve Nash Chris Paul

total_games          199        308
total_shots          343        532
shooting%          44.02      38.16
2pt_attempts         208        416
2pt%                  50      43.27
3pt_attempts         135        116
3pt%               34.81      19.83
FT_Attempts          277        437
FT%                88.81      85.81
total_assists         28         26
total_blocks           8         28
off_rebound            8         21
is_clutch            Yes         No

In [22]:
y = x('Steve Nash', 'Chris Paul', df)

In [23]:
pickle.dump(code_for_flask.player_stat, open('comparison.p', 'wb'))