In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')
import code_for_flask
import pickle

In [2]:
df = pd.read_csv('stats_for_flask')

In [3]:
years = pd.read_csv('clutch_years.csv')

In [8]:
d = years[['player','years_played', 'clutch_years']]

In [4]:
df = df.sort_values('player')

In [9]:
x = pd.merge(df, d, on='player', how='left')

In [16]:
def player_stat(name1, name2):
    player1 = (x.loc[x['player'] == name1]) 
    player2 = (x.loc[x['player'] == name2])
    both = pd.merge(player1,player2, how = 'outer')
    both = both.T
    both.reset_index(level=0, inplace=True)
    both.columns = both.iloc[0]
    stats = both.reindex(both.index.drop(0))
    stats = stats.rename(columns={'player':' '})
    stats = stats.set_index(' ')
    stats = stats.drop(['shots_made', '2pt_made', '3pt_made', 'FT_made'])
    return stats

In [21]:
y = code_for_flask.player_stat('Chris Paul', 'Steve Nash', x)

In [34]:
x.to_csv('data_for flask.csv', encoding='utf-8', index=False)

In [36]:
h = pd.read_csv('data_for flask.csv')

In [37]:
h.head()

,player,total_games,shots_made,total_shots,shooting%,2pt_made,2pt_attempts,2pt%,3pt_made,3pt_attempts,3pt%,FT_made,FT_Attempts,FT%,total_assists,total_blocks,off_rebound,is_clutch,years_played,clutch_years
0,A.J. Price,16,11,28,39.29,8,18,44.44,3,10,30.00,3,3,100.00,3,2,1,0.0,4,0.0
1,Aaron Brooks,109,58,174,33.33,41,103,39.81,17,71,23.94,91,111,81.98,12,19,8,0.0,9,1.0
2,Aaron Gordon,34,13,32,40.62,8,17,47.06,5,15,33.33,16,19,84.21,9,2,10,0.0,4,0.0
3,Aaron Gray,14,4,6,66.67,4,6,66.67,0,0,0.00,6,11,54.55,2,0,8,0.0,6,0.0
4,Aaron Harrison,2,0,2,0.00,0,0,0.00,0,2,0.00,2,3,66.67,0,0,0,0.0,1,0.0

In [23]:
pickle.dump(code_for_flask.player_stat, open('comparison.p', 'wb'))

In [29]:
g = pickle.load(open('comparison.p', 'rb'))

In [30]:
g