In [750]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%load_ext autoreload
%autoreload 2
import operator
from functools import reduce


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import os 
os.chdir('/Users/deepak/capstone/clutch-baller')
# os.chdir('./clutch-baller')
import practice_code as pc
import indiviual_stats as ind
# os.chdir('..')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [188]:
df = pd.read_csv('/Users/deepak/Desktop/NBA_Data/Every_Season_Data/[2005-2006]-combined-stats.csv')

##Added another column that shows the pts difference between both teams

In [189]:
df = pc.replace_nan(df)

In [190]:
df = pc.add_columns(df)

/Users/deepak/capstone/clutch-baller/practice_code.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['winner'] = np.where(df2.pts_difference >0, 'away', 'home')

In [192]:
col_to_remove = ['a1', 'a2', 'a3','a4','a5','h1','h2','h3','h4','h5', 'play_length', 'entered', 'left', 'possession', 'shot_distance', 'original_x', 'original_y', 'converted_x', 'converted_y', 'num', 'away', 'home', 'outof', 'opponent', 'reason', 'elapsed', 'play_id']

##Remove unnecessary columns

In [193]:
df = pc.remove_col(df, col_to_remove)

##df showing all the games within 6 points when two min left in 4th

In [194]:
clutch_time = pc.clutch_moment(df)

##Remove Rows that are not needed (such as fouls, subs, timeouts etc)

In [195]:
rows = ['sub', 'timeout', 'uknown', 'unknown', 'Ejection', 'violat', 'traveling', 'team reb', 'foul',
        'turnover', 'of period', 'lost ball', 'goaltend', 'bad pass', 'illegal', 'jump ball', 'o', 'backcourt']

In [196]:
clutch_time = pc.remove_junk_rows(clutch_time, 'type', rows)

##Remove game that didnt have clutch moment but got close for a sec

In [197]:
clutch_time = pc.remove_not_imp_games(clutch_time, 'game_id')
clutch_time['game_id'].value_counts().count()

533

##Separate playoff games from regular season games

In [198]:
regular_season, playoffs =  pc.regular_or_playoffs(clutch_time, 'data_set')

##Shows the shooting stats for a player, righ now showing for last 2 min but can change df to get full season or playoffs!

In [797]:
stats = pc.get_percent(regular_season, 'player', 'event_type', 'Allen Iverson')
stats

('Shooting Percentage:0.355', 'Made: 22', 'Attempt: 62')

##Free throw numbers

In [691]:
free_throw = pc.free_throw_percent(regular_season, 'player', 'event_type', 'result', 'Aaron Williams')
free_throw

('Free Throw:nan', 'Made: 0', 'Attempt: 0')

##Compare shooting stats between 2 players

In [18]:
one_on_one = pc.compare_stats(regular_season, 'player', 'event_type', 'Kobe Bryant', "Shaquille O'Neal")
one_on_one

('Player A:Kobe Bryant',
 'Shooting Percentage:0.372',
 'Made: 32',
 'Attempt: 86',
 "Player B:Shaquille O'Neal",
 'Shooting Percentage:0.615',
 'Made: 8',
 'Attempt: 13')

##Compares Shooting and Free Throws

In [19]:
full_comparison = pc.compare_players(regular_season, 'player', 'event_type', 'result','Dwyane Wade', 'Steve Nash')
full_comparison

0                   Dwyane Wade Steve Nash

Shooting Percentage       0.373      0.377
Shots Made                   19         20
Shots Attempted              51         53
FT Percentage             0.767      0.882
FT Made                      33         30
FT Attempts                  43         34

##Full comparison plus assists, blocks, and rebounds

In [ ]:
also look sfor wins:

In [ ]:
look for clutch value: what determines
how much better they are than league in clutch moment:
how to determine that their stats are clutch or not
assign values to each categories (scoring, free throw, blocks)
how each player impacts the game,

In [120]:
x = df[(df['event_type']=='end of period') & (df['period']>=4) & (df['pts_difference']!=0)]
x['winner'] = np.where(x.pts_difference >0, 'away', 'home')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [224]:
k = pc.assits_per_game(regular_season, 'assist', 'player', 'game_id')

In [225]:
b = pc.get_all_blocks(regular_season, 'block', 'player', 'game_id')

In [220]:
c = pc.get_total_games(regular_season, 'player', 'game_id')

In [234]:
#df3 = pd.concat([c, k, b])
#df3.drop_duplicates(subset=['player', 'clutch_games'], inplace=True, keep='last')

#df3 = df3[['player', 'clutch_games', 'total_assist', 'total_blocks', 'assist_per_clutch_time', 'block_per_clutch_time']]
#df3 = df3.sort_values(by =['player','clutch_games', 'total_assist'], ascending=True)
#df3 = df3.replace(np.nan, 0, regex=True)


# df4 = df4[['player', 'clutch_games', 'total_assist', 'total_blocks','assist_per_clutch_time',
#            'block_per_clutch_time'
#           ]]
# df4 = df4.sort_values(by =['total_assist', 'clutch_games'], ascending=False)
# df4 = df4.replace(np.nan, 0, regex=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [254]:
dfs = [c,k,b]

In [258]:
df3 = reduce(lambda left,right: pd.merge(left,right,on='player'), dfs)
df3.head()

,player,clutch_games_x,clutch_games_y,total_assist,assist_per_clutch_time,clutch_games,total_blocks,block_per_clutch_time
0,Adonal Foyle,13,13,1,0.077,13,6,0.462
1,Al Harrington,30,30,7,0.233,30,1,0.033
2,Allen Iverson,34,34,19,0.559,34,1,0.029
3,Andre Iguodala,29,29,3,0.103,29,1,0.034
4,Andrei Kirilenko,19,19,4,0.211,19,13,0.684

In [411]:
a = regular_season['player']

In [412]:
b_list = []
for name in a:
    if name not in b_list:
        b_list.append(name)

In [571]:
# def get_percent(df, column1, column2, name):
#     a = df[(df[column1]==name) & ((df[column2]== 'miss')|(df[column2]=='shot'))]
#     percent = np.sum(a[column2]=='shot')/a[column2].count()
#     return percent
        
        
#         a = regular_season[(regular_season[column1]==value) & ((regular_season[column2]== 'miss')|(regular_season[column2]=='shot'))]
#         percent = np.sum(a[column2]=='shot')/a[column2].count()
#     return (value, (round(percent, 3)),(np.sum(a[column2]=='shot')),
#            (a[column2].count()))


def get_percent(df, column1, column2, lst):
    l=dict()
    for name in lst:
        a = df[(df[column1]==name) & ((df[column2]== 'miss')|(df[column2]=='shot'))]
        made = np.sum(a[column2]=='shot')
        total = a[column2].count()
        percent = round(made/total, 3)
        l[name]= percent, made, total
    return l

In [574]:
t= get_percent(regular_season, 'player', 'event_type' , b_list)

In [768]:
x = ind.object_to_int(regular_season, 'points')

/Users/deepak/capstone/clutch-baller/indiviual_stats.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  new_df = df.convert_objects(convert_numeric=True)

In [769]:
new_x = ind.add_more_columns(x)
new_x.head()

,game_id,data_set,date,period,away_score,home_score,remaining_time,team,event_type,assist,block,player,points,result,steal,type,description,pts_difference,winner,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
443,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,96,102,00:01:07,MIL,free throw,,,Michael Redd,1,made,,Free Throw 1 of 2,Redd Free Throw 1 of 2 (20 PTS),-6,away,0,1,0,0,0,0,0,0
445,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:01:07,MIL,free throw,,,Michael Redd,1,made,,Free Throw 2 of 2,Redd Free Throw 2 of 2 (21 PTS),-5,away,0,1,0,0,0,0,0,0
446,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:00:47,PHI,miss,,,Allen Iverson,0,missed,,Jump Shot,MISS Iverson 18' Jump Shot,-5,away,0,0,0,0,0,1,0,0
447,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:00:45,MIL,rebound,,,T.J. Ford,-1,,,rebound defensive,Ford REBOUND (Off:1 Def:6),-5,away,0,0,0,0,1,0,0,0
448,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,99,102,00:00:41,MIL,shot,,,T.J. Ford,2,made,,Driving Layup,Ford Driving Layup (14 PTS),-3,away,1,0,0,0,0,0,0,0

In [770]:
result = ind.combine_stats(new_x)

In [775]:
y = ind.combine_stats(regular_season)
y.head()

,player,shots_made_x,FT_made_x,FT_missed_x,off_rebound_x,total_rebound_x,shots_missed_x,assist_count_x,total_blocks_x,period_y,away_score_y,home_score_y,points_y,pts_difference_y,shots_made_y,FT_made_y,FT_missed_y,off_rebound_y,total_rebound_y,shots_missed_y,assist_count_y,total_blocks_y,period,away_score,home_score,points,pts_difference,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
0,Aaron Williams,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,5.0,109.0,110.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Adonal Foyle,5.0,2.0,2.0,6.0,16.0,6.0,5.0,0.0,27.0,623.0,633.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,4.0,74.0,75.0,2.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Adrian Griffin,0.0,0.0,2.0,3.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Al Harrington,14.0,17.0,11.0,6.0,18.0,24.0,6.0,2.0,4.0,96.0,96.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,30.0,691.0,693.0,17.0,-2.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
4,Al Jefferson,2.0,0.0,3.0,1.0,5.0,1.0,2.0,0.0,4.0,103.0,103.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [788]:
j= ind.combine_stats(regular_season)

In [793]:
m = regular_season.groupby(['player']).sum()

In [636]:
m= m.drop(['period', 'away_score', 'home_score', 'points', 'pts_difference'], axis = 1)
m.head()

,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
player,,,,,,,,
Aaron Williams,1,0,0,0,0,1,1,1
Adonal Foyle,5,2,2,6,16,6,5,0
Adrian Griffin,0,0,2,3,9,2,0,0
Al Harrington,14,17,11,6,18,24,6,2
Al Jefferson,2,0,3,1,5,1,2,0

In [637]:
m = m[['shots_made', 'shots_missed', 'FT_made','FT_missed', 'off_rebound', 'total_rebound']]

In [612]:
w = regular_season.groupby('assist').sum()

In [615]:
w = w.drop(['period', 'away_score',	'home_score', 'points',	'pts_difference','shots_made', 'FT_made', 'FT_missed', 'off_rebound','total_rebound', 'shots_missed', 'total_blocks'], axis =1)
w.head()

                assist_count
assist
                           0
Adonal Foyle               1
Al Harrington              7
Allen Iverson             19
Andre Iguodala             3

In [649]:
v = regular_season.groupby('block').sum()
v = v.drop(['period', 'away_score',	'home_score', 'points',	'pts_difference',	'shots_made',	'FT_made',	'FT_missed', 'off_rebound',	'total_rebound',	'shots_missed', 'assist_count'], axis =1)
v.head()

                total_blocks
block
                           0
Aaron Williams             1
Adonal Foyle               6
Al Harrington              1
Al Jefferson               1

In [747]:
result = result.fillna(0)

In [772]:
result = ind.combine_stats(regular_season)