In [750]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%load_ext autoreload
%autoreload 2
import operator
from functools import reduce


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import os 
os.chdir('/Users/deepak/capstone/clutch-baller')
# os.chdir('./clutch-baller')
import practice_code as pc
import indiviual_stats as ind
# os.chdir('..')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [188]:
df = pd.read_csv('/Users/deepak/Desktop/NBA_Data/Every_Season_Data/[2005-2006]-combined-stats.csv')

##Added another column that shows the pts difference between both teams

In [189]:
df = pc.replace_nan(df)

In [190]:
df = pc.add_columns(df)

/Users/deepak/capstone/clutch-baller/practice_code.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['winner'] = np.where(df2.pts_difference >0, 'away', 'home')

In [192]:
col_to_remove = ['a1', 'a2', 'a3','a4','a5','h1','h2','h3','h4','h5', 'play_length', 'entered', 'left', 'possession', 'shot_distance', 'original_x', 'original_y', 'converted_x', 'converted_y', 'num', 'away', 'home', 'outof', 'opponent', 'reason', 'elapsed', 'play_id']

##Remove unnecessary columns

In [193]:
df = pc.remove_col(df, col_to_remove)

##df showing all the games within 6 points when two min left in 4th

In [194]:
clutch_time = pc.clutch_moment(df)

##Remove Rows that are not needed (such as fouls, subs, timeouts etc)

In [195]:
rows = ['sub', 'timeout', 'uknown', 'unknown', 'Ejection', 'violat', 'traveling', 'team reb', 'foul',
        'turnover', 'of period', 'lost ball', 'goaltend', 'bad pass', 'illegal', 'jump ball', 'o', 'backcourt']

In [196]:
clutch_time = pc.remove_junk_rows(clutch_time, 'type', rows)

##Remove game that didnt have clutch moment but got close for a sec

In [197]:
clutch_time = pc.remove_not_imp_games(clutch_time, 'game_id')
clutch_time['game_id'].value_counts().count()

533

##Separate playoff games from regular season games

In [198]:
regular_season, playoffs =  pc.regular_or_playoffs(clutch_time, 'data_set')

##Shows the shooting stats for a player, righ now showing for last 2 min but can change df to get full season or playoffs!

In [690]:
stats = pc.get_percent(regular_season, 'player', 'event_type', 'Aaron Williams')
stats

('Shooting Percentage:0.5', 'Made: 1', 'Attempt: 2')

##Free throw numbers

In [691]:
free_throw = pc.free_throw_percent(regular_season, 'player', 'event_type', 'result', 'Aaron Williams')
free_throw

('Free Throw:nan', 'Made: 0', 'Attempt: 0')

##Compare shooting stats between 2 players

In [18]:
one_on_one = pc.compare_stats(regular_season, 'player', 'event_type', 'Kobe Bryant', "Shaquille O'Neal")
one_on_one

('Player A:Kobe Bryant',
 'Shooting Percentage:0.372',
 'Made: 32',
 'Attempt: 86',
 "Player B:Shaquille O'Neal",
 'Shooting Percentage:0.615',
 'Made: 8',
 'Attempt: 13')

##Compares Shooting and Free Throws

In [19]:
full_comparison = pc.compare_players(regular_season, 'player', 'event_type', 'result','Dwyane Wade', 'Steve Nash')
full_comparison

0                   Dwyane Wade Steve Nash

Shooting Percentage       0.373      0.377
Shots Made                   19         20
Shots Attempted              51         53
FT Percentage             0.767      0.882
FT Made                      33         30
FT Attempts                  43         34

##Full comparison plus assists, blocks, and rebounds

In [ ]:
also look sfor wins:

In [ ]:
look for clutch value: what determines
how much better they are than league in clutch moment:
how to determine that their stats are clutch or not
assign values to each categories (scoring, free throw, blocks)
how each player impacts the game,

In [120]:
x = df[(df['event_type']=='end of period') & (df['period']>=4) & (df['pts_difference']!=0)]
x['winner'] = np.where(x.pts_difference >0, 'away', 'home')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [227]:
k.head()

           player  clutch_games  total_assist  assist_per_clutch_time
0    Adonal Foyle            13             1                   0.077
1   Al Harrington            30             7                   0.233
2   Allen Iverson            34            19                   0.559
3  Andre Iguodala            29             3                   0.103
4    Andre Miller            21            21                   1.000

In [226]:
b.head()

           player  clutch_games  total_blocks  block_per_clutch_time
0  Aaron Williams             1             1                  1.000
1    Adonal Foyle            13             6                  0.462
2   Al Harrington            30             1                  0.033
3    Al Jefferson             4             1                  0.250
4   Allen Iverson            34             1                  0.029

In [221]:
c.head()

           player  clutch_games
0  Aaron Williams             1
1    Adonal Foyle            13
2  Adrian Griffin             8
3   Al Harrington            30
4    Al Jefferson             4

In [224]:
k = pc.assits_per_game(regular_season, 'assist', 'player', 'game_id')

In [225]:
b = pc.get_all_blocks(regular_season, 'block', 'player', 'game_id')

In [220]:
c = pc.get_total_games(regular_season, 'player', 'game_id')

In [234]:
#df3 = pd.concat([c, k, b])
#df3.drop_duplicates(subset=['player', 'clutch_games'], inplace=True, keep='last')

#df3 = df3[['player', 'clutch_games', 'total_assist', 'total_blocks', 'assist_per_clutch_time', 'block_per_clutch_time']]
#df3 = df3.sort_values(by =['player','clutch_games', 'total_assist'], ascending=True)
#df3 = df3.replace(np.nan, 0, regex=True)


# df4 = df4[['player', 'clutch_games', 'total_assist', 'total_blocks','assist_per_clutch_time',
#            'block_per_clutch_time'
#           ]]
# df4 = df4.sort_values(by =['total_assist', 'clutch_games'], ascending=False)
# df4 = df4.replace(np.nan, 0, regex=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [254]:
dfs = [c,k,b]

In [258]:
df3 = reduce(lambda left,right: pd.merge(left,right,on='player'), dfs)
df3.head()

,player,clutch_games_x,clutch_games_y,total_assist,assist_per_clutch_time,clutch_games,total_blocks,block_per_clutch_time
0,Adonal Foyle,13,13,1,0.077,13,6,0.462
1,Al Harrington,30,30,7,0.233,30,1,0.033
2,Allen Iverson,34,34,19,0.559,34,1,0.029
3,Andre Iguodala,29,29,3,0.103,29,1,0.034
4,Andrei Kirilenko,19,19,4,0.211,19,13,0.684

In [411]:
a = regular_season['player']

In [412]:
b_list = []
for name in a:
    if name not in b_list:
        b_list.append(name)

In [413]:
b_list

['Michael Redd',
 'Allen Iverson',
 'T.J. Ford',
 'Chris Webber',
 'Kyle Korver',
 'Steven Hunter',
 'Toni Kukoc',
 'John Salmons',
 'Bobby Simmons',
 'Andrew Bogut',
 'Steve Nash',
 'Josh Howard',
 'Dirk Nowitzki',
 'Jim Jackson',
 'Jason Terry',
 'Shawn Marion',
 'Raja Bell',
 'James Jones',
 'Keith Van Horn',
 'Boris Diaw',
 'Marquis Daniels',
 'Leandro Barbosa',
 'Chucky Atkins',
 'Gilbert Arenas',
 'Mike James',
 'Antawn Jamison',
 'Chris Bosh',
 'Matt Bonner',
 'Brendan Haywood',
 'Charlie Villanueva',
 'Jalen Rose',
 'Ricky Davis',
 'Paul Pierce',
 'Mark Blount',
 'Matt Barnes',
 'Delonte West',
 'Stephon Marbury',
 'Antonio Davis',
 'Jamal Crawford',
 'Eddy Curry',
 'Juan Dixon',
 'Wally Szczerbiak',
 'Trenton Hassell',
 'Darius Miles',
 'Kevin Garnett',
 'Zach Randolph',
 'Marko Jaric',
 'Richie Frahm',
 'Darius Songaila',
 'Ben Gordon',
 'Kareem Rush',
 'Raymond Felton',
 'Chris Duhon',
 'Melvin Ely',
 'Emeka Okafor',
 'Gerald Wallace',
 'Eric Piatkowski',
 'Tyson Chandler',
 'Primoz Brezec',
 'Ray Allen',
 'Elton Brand',
 'Sam Cassell',
 'Luke Ridnour',
 'Cuttino Mobley',
 'Ronald Murray',
 'James Singleton',
 'Reggie Evans',
 'Carmelo Anthony',
 'Kobe Bryant',
 'Marcus Camby',
 'Andre Miller',
 'Devean George',
 'Smush Parker',
 'Chris Mihm',
 'Kenyon Martin',
 'Greg Buckner',
 'Lamar Odom',
 'Kwame Brown',
 'Voshon Lenard',
 'Alonzo Mourning',
 "Jermaine O'Neal",
 'Stephen Jackson',
 'Dwyane Wade',
 'Gary Payton',
 'Udonis Haslem',
 'Metta World Peace',
 'Antoine Walker',
 'Steve Francis',
 'Mike Miller',
 'Eddie Jones',
 'DeShawn Stevenson',
 'Bo Outlaw',
 'Pau Gasol',
 'Dwight Howard',
 'Damon Stoudamire',
 'Rasheed Wallace',
 'Ben Wallace',
 'Richard Hamilton',
 'Chauncey Billups',
 'Raef LaFrentz',
 'Michael Olowokandi',
 'Nick Collison',
 'Rashard Lewis',
 'Vitaly Potapenko',
 'Nenad Krstic',
 'Kirk Hinrich',
 'Vince Carter',
 'Jason Kidd',
 'Richard Jefferson',
 'Marc Jackson',
 'Andres Nocioni',
 'Brevin Knight',
 'Keith Bogans',
 'Al Jefferson',
 'Kendrick Perkins',
 'Austin Croshere',
 'Jamaal Tinsley',
 'Mo Williams',
 'Jamaal Magloire',
 'Jason Williams',
 'P.J. Brown',
 'Yao Ming',
 'Speedy Claxton',
 'David West',
 'Chris Paul',
 'Derek Anderson',
 'Jon Barry',
 'Zaza Pachulia',
 'Josh Childress',
 'Joe Johnson',
 'Josh Smith',
 'Sebastian Telfair',
 'Eddie Griffin',
 'Quinton Ross',
 'Troy Hudson',
 'Mike Dunleavy',
 'Quentin Richardson',
 'Troy Murphy',
 'Jason Richardson',
 'Channing Frye',
 'Baron Davis',
 'David Lee',
 'Mike Bibby',
 'Brad Miller',
 'Shareef Abdur-Rahim',
 'Peja Stojakovic',
 'Brian Grant',
 'Matt Harpring',
 'Sean May',
 'Andrei Kirilenko',
 'Mehmet Okur',
 'Milt Palacio',
 'Greg Ostertag',
 'Deron Williams',
 'Jumaine Jones',
 'Matt Carroll',
 'Tim Duncan',
 'Nazr Mohammed',
 'Luol Deng',
 'Tony Parker',
 'Manu Ginobili',
 'Michael Finley',
 'Michael Sweetney',
 'Bruce Bowen',
 'Jameer Nelson',
 'Rafer Alston',
 'Luther Head',
 'Jarvis Hayes',
 'Caron Butler',
 'Corey Maggette',
 'Shane Battier',
 'Fred Jones',
 'Sarunas Jasikevicius',
 'Hedo Turkoglu',
 'Derek Fisher',
 'Andre Iguodala',
 'Adonal Foyle',
 'Malik Rose',
 'Al Harrington',
 'Bobby Jackson',
 'Devin Harris',
 'Jarron Collins',
 'Devin Brown',
 'Gordan Giricek',
 'Anthony Johnson',
 'Morris Peterson',
 'Jose Calderon',
 'Vladimir Radmanovic',
 'LeBron James',
 'Larry Hughes',
 'Pat Garrity',
 'Donyell Marshall',
 'Zydrunas Ilgauskas',
 'James Posey',
 'Desmond Mason',
 'Bostjan Nachbar',
 'Tracy McGrady',
 'Rashad McCants',
 'DerMarr Johnson',
 'Eduardo Najera',
 'Darrell Armstrong',
 'Theo Ratliff',
 'Joe Smith',
 'Kirk Snyder',
 'Marvin Williams',
 'Salim Stoudamire',
 'Damon Jones',
 'Keyon Dooling',
 'Tony Battie',
 'Clifford Robinson',
 'Robert Horry',
 'Bonzi Wells',
 'Andrew Bynum',
 'Jeff McInnis',
 'Etan Thomas',
 'Earl Boykins',
 'Orien Greene',
 'Anthony Carter',
 'J.R. Smith',
 'Chris Kaman',
 'Tyronn Lue',
 'Jared Jeffries',
 'Tayshaun Prince',
 'Maurice Evans',
 'Michael Ruffin',
 'Carlos Arroyo',
 'Antonio McDyess',
 'Carlos Delfino',
 'Calbert Cheaney',
 'Damien Wilkins',
 'Nate Robinson',
 'Samuel Dalembert',
 'Jason Kapono',
 'Eric Snow',
 'Drew Gooden',
 'David Wesley',
 'Stromile Swift',
 'Juwan Howard',
 'Martell Webster',
 'Luke Walton',
 'Brian Cook',
 'Jacque Vaughn',
 'Erick Dampier',
 'Alan Henderson',
 'Dan Dickau',
 'Sasha Vujacic',
 'Laron Profit',
 'Jackie Butler',
 'Kurt Thomas',
 'Joey Graham',
 'Justin Reed',
 'Joel Przybilla',
 'Adrian Griffin',
 'DeSagana Diop',
 'Antonio Daniels',
 'Bernard Robinson',
 'Maurice Taylor',
 'Viktor Khryapa',
 'Steve Blake',
 'Ruben Patterson',
 "Shaquille O'Neal",
 'Eddie House',
 'Luke Jackson',
 'Rasho Nesterovic',
 'Kris Humphries',
 'Jarrett Jack',
 'Moochie Norris',
 'Ryan Bowen',
 'Brent Barry',
 'Marcus Banks',
 'Jiri Welsch',
 'Scott Padgett',
 'Earl Watson',
 'Grant Hill',
 'Kevin Martin',
 'Lorenzen Wright',
 'Danny Granger',
 'Rasual Butler',
 'Keith McLeod',
 'Mateen Cleaves',
 'Dahntay Jones',
 'Hakim Warrick',
 'Jason Hart',
 'Kenny Thomas',
 'John Lucas III',
 'Pat Burke',
 'Qyntel Woods',
 'Ike Diogu',
 'Jeff Foster',
 'Jerry Stackhouse',
 'Brian Scalabrine',
 'Nick Van Exel',
 'Shaun Livingston',
 'Trevor Ariza',
 'Dikembe Mutombo',
 'Lamond Murray',
 'Francisco Garcia',
 'Mickael Pietrus',
 'Travis Diener',
 'Sasha Pavlovic',
 'Charles Hayes',
 'Robert Swift',
 'Johan Petro',
 'Travis Outlaw',
 'David Harrison',
 'Ira Newble',
 'Lonny Baxter',
 'Monta Ellis',
 'Zarko Cabarkapa',
 'Charlie Bell',
 'Donell Taylor',
 'Anderson Varejao',
 'Andris Biedrins',
 'Beno Udrih',
 'Pape Sow',
 'Brian Cardinal',
 'Sean Marks',
 'Dan Gadzuric',
 'Antonio Burks',
 'Jake Tsakalidis',
 'Ryan Gomes',
 'Royal Ivey',
 'Chris Wilcox',
 'Jason Collins',
 'Malik Allen',
 'Shavlik Randolph',
 'Carlos Boozer',
 'Shandon Anderson',
 'Tony Allen',
 'Darko Milicic',
 'Eric Williams',
 'Scot Pollard',
 'Jerome James',
 'Jake Voskuhl',
 'Andre Barrett',
 'Jermaine Jackson',
 'Darrick Martin',
 'Linton Johnson',
 'Gerald Green',
 'Anthony Grundy',
 'Aaron Williams',
 'Francisco Elson',
 'Tony Delk',
 'Dale Davis',
 'Bracey Wright',
 'Lindsey Hunter',
 'Jason Maxiell',
 'Kevin Burleson',
 'Mikki Moore',
 'Alan Anderson',
 'Donta Smith',
 'Will Bynum',
 'Zoran Planinic',
 'Dwayne Jones',
 'Howard Eisley',
 'Dorell Wright',
 'Earl Barron',
 'Wayne Simien',
 'Zeljko Rebraca',
 "Boniface N'Dong",
 'Daniel Ewing',
 'Stephen Graham',
 'Melvin Sanders',
 'Lawrence Roberts',
 'Anthony Roberson',
 'Mark Madsen',
 'Ronald Dupree',
 'CJ Miles',
 'Linas Kleiza']

In [571]:
# def get_percent(df, column1, column2, name):
#     a = df[(df[column1]==name) & ((df[column2]== 'miss')|(df[column2]=='shot'))]
#     percent = np.sum(a[column2]=='shot')/a[column2].count()
#     return percent
        
        
#         a = regular_season[(regular_season[column1]==value) & ((regular_season[column2]== 'miss')|(regular_season[column2]=='shot'))]
#         percent = np.sum(a[column2]=='shot')/a[column2].count()
#     return (value, (round(percent, 3)),(np.sum(a[column2]=='shot')),
#            (a[column2].count()))


def get_percent(df, column1, column2, lst):
    l=dict()
    for name in lst:
        a = df[(df[column1]==name) & ((df[column2]== 'miss')|(df[column2]=='shot'))]
        made = np.sum(a[column2]=='shot')
        total = a[column2].count()
        percent = round(made/total, 3)
        l[name]= percent, made, total
    return l

In [574]:
t= get_percent(regular_season, 'player', 'event_type' , b_list)

In [792]:
t

{'Michael Redd': (0.355, 27, 76),
 'Allen Iverson': (0.355, 22, 62),
 'T.J. Ford': (0.423, 11, 26),
 'Chris Webber': (0.355, 22, 62),
 'Kyle Korver': (0.227, 5, 22),
 'Steven Hunter': (0.5, 1, 2),
 'Toni Kukoc': (0.25, 2, 8),
 'John Salmons': (0.385, 5, 13),
 'Bobby Simmons': (0.52, 13, 25),
 'Andrew Bogut': (0.9, 9, 10),
 'Steve Nash': (0.377, 20, 53),
 'Josh Howard': (0.25, 1, 4),
 'Dirk Nowitzki': (0.411, 30, 73),
 'Jim Jackson': (0.0, 0, 4),
 'Jason Terry': (0.407, 22, 54),
 'Shawn Marion': (0.54, 27, 50),
 'Raja Bell': (0.429, 6, 14),
 'James Jones': (0.5, 5, 10),
 'Keith Van Horn': (1.0, 1, 1),
 'Boris Diaw': (0.412, 7, 17),
 'Marquis Daniels': (0.286, 2, 7),
 'Leandro Barbosa': (0.364, 4, 11),
 'Chucky Atkins': (0.4, 6, 15),
 'Gilbert Arenas': (0.344, 22, 64),
 'Mike James': (0.407, 37, 91),
 'Antawn Jamison': (0.324, 12, 37),
 'Chris Bosh': (0.417, 15, 36),
 'Matt Bonner': (0.467, 7, 15),
 'Brendan Haywood': (0.5, 2, 4),
 'Charlie Villanueva': (0.375, 12, 32),
 'Jalen Rose': (0.375, 6, 16),
 'Ricky Davis': (0.404, 21, 52),
 'Paul Pierce': (0.41, 34, 83),
 'Mark Blount': (0.45, 9, 20),
 'Matt Barnes': (0.333, 1, 3),
 'Delonte West': (0.28, 7, 25),
 'Stephon Marbury': (0.478, 22, 46),
 'Antonio Davis': (1.0, 4, 4),
 'Jamal Crawford': (0.449, 22, 49),
 'Eddy Curry': (0.471, 8, 17),
 'Juan Dixon': (0.425, 17, 40),
 'Wally Szczerbiak': (0.514, 18, 35),
 'Trenton Hassell': (0.4, 8, 20),
 'Darius Miles': (0.727, 8, 11),
 'Kevin Garnett': (0.356, 21, 59),
 'Zach Randolph': (0.435, 10, 23),
 'Marko Jaric': (0.308, 4, 13),
 'Richie Frahm': (0.333, 1, 3),
 'Darius Songaila': (0.524, 11, 21),
 'Ben Gordon': (0.467, 35, 75),
 'Kareem Rush': (0.286, 2, 7),
 'Raymond Felton': (0.424, 14, 33),
 'Chris Duhon': (0.222, 4, 18),
 'Melvin Ely': (0.556, 5, 9),
 'Emeka Okafor': (0.364, 4, 11),
 'Gerald Wallace': (0.4, 10, 25),
 'Eric Piatkowski': (0.0, 0, 1),
 'Tyson Chandler': (0.833, 5, 6),
 'Primoz Brezec': (0.522, 12, 23),
 'Ray Allen': (0.424, 28, 66),
 'Elton Brand': (0.472, 17, 36),
 'Sam Cassell': (0.324, 11, 34),
 'Luke Ridnour': (0.409, 9, 22),
 'Cuttino Mobley': (0.381, 8, 21),
 'Ronald Murray': (0.6, 15, 25),
 'James Singleton': (1.0, 3, 3),
 'Reggie Evans': (0.5, 1, 2),
 'Carmelo Anthony': (0.432, 19, 44),
 'Kobe Bryant': (0.372, 32, 86),
 'Marcus Camby': (0.3, 3, 10),
 'Andre Miller': (0.429, 18, 42),
 'Devean George': (0.444, 4, 9),
 'Smush Parker': (0.429, 6, 14),
 'Chris Mihm': (0.333, 2, 6),
 'Kenyon Martin': (0.5, 8, 16),
 'Greg Buckner': (0.25, 2, 8),
 'Lamar Odom': (0.484, 15, 31),
 'Kwame Brown': (0.5, 1, 2),
 'Voshon Lenard': (0.0, 0, 2),
 'Alonzo Mourning': (0.714, 5, 7),
 "Jermaine O'Neal": (0.214, 3, 14),
 'Stephen Jackson': (0.394, 13, 33),
 'Dwyane Wade': (0.373, 19, 51),
 'Gary Payton': (0.308, 4, 13),
 'Udonis Haslem': (0.364, 4, 11),
 'Metta World Peace': (0.32, 8, 25),
 'Antoine Walker': (0.333, 7, 21),
 'Steve Francis': (0.324, 12, 37),
 'Mike Miller': (0.417, 5, 12),
 'Eddie Jones': (0.348, 8, 23),
 'DeShawn Stevenson': (0.435, 10, 23),
 'Bo Outlaw': (1.0, 1, 1),
 'Pau Gasol': (0.405, 15, 37),
 'Dwight Howard': (0.526, 10, 19),
 'Damon Stoudamire': (0.647, 11, 17),
 'Rasheed Wallace': (0.4, 12, 30),
 'Ben Wallace': (0.7, 7, 10),
 'Richard Hamilton': (0.321, 9, 28),
 'Chauncey Billups': (0.318, 14, 44),
 'Raef LaFrentz': (0.083, 1, 12),
 'Michael Olowokandi': (0.0, 0, 2),
 'Nick Collison': (0.75, 6, 8),
 'Rashard Lewis': (0.346, 9, 26),
 'Vitaly Potapenko': (0.0, 0, 1),
 'Nenad Krstic': (0.4, 6, 15),
 'Kirk Hinrich': (0.354, 17, 48),
 'Vince Carter': (0.417, 25, 60),
 'Jason Kidd': (0.24, 6, 25),
 'Richard Jefferson': (0.444, 8, 18),
 'Marc Jackson': (0.4, 2, 5),
 'Andres Nocioni': (0.424, 14, 33),
 'Brevin Knight': (0.387, 12, 31),
 'Keith Bogans': (0.545, 6, 11),
 'Al Jefferson': (0.667, 2, 3),
 'Kendrick Perkins': (0.333, 1, 3),
 'Austin Croshere': (0.143, 1, 7),
 'Jamaal Tinsley': (0.143, 1, 7),
 'Mo Williams': (0.286, 6, 21),
 'Jamaal Magloire': (0.222, 2, 9),
 'Jason Williams': (0.5, 4, 8),
 'P.J. Brown': (0.417, 5, 12),
 'Yao Ming': (0.381, 8, 21),
 'Speedy Claxton': (0.48, 12, 25),
 'David West': (0.241, 7, 29),
 'Chris Paul': (0.471, 16, 34),
 'Derek Anderson': (0.5, 2, 4),
 'Jon Barry': (0.0, 0, 1),
 'Zaza Pachulia': (0.583, 7, 12),
 'Josh Childress': (0.647, 11, 17),
 'Joe Johnson': (0.427, 38, 89),
 'Josh Smith': (0.423, 11, 26),
 'Sebastian Telfair': (0.2, 2, 10),
 'Eddie Griffin': (0.375, 3, 8),
 'Quinton Ross': (0.5, 3, 6),
 'Troy Hudson': (0.3, 3, 10),
 'Mike Dunleavy': (0.353, 6, 17),
 'Quentin Richardson': (0.5, 3, 6),
 'Troy Murphy': (0.385, 5, 13),
 'Jason Richardson': (0.447, 21, 47),
 'Channing Frye': (0.5, 7, 14),
 'Baron Davis': (0.312, 10, 32),
 'David Lee': (0.833, 5, 6),
 'Mike Bibby': (0.396, 21, 53),
 'Brad Miller': (0.348, 8, 23),
 'Shareef Abdur-Rahim': (0.333, 4, 12),
 'Peja Stojakovic': (0.286, 6, 21),
 'Brian Grant': (0.0, 0, 1),
 'Matt Harpring': (0.44, 11, 25),
 'Sean May': (0.333, 2, 6),
 'Andrei Kirilenko': (0.412, 7, 17),
 'Mehmet Okur': (0.5, 14, 28),
 'Milt Palacio': (0.263, 5, 19),
 'Greg Ostertag': (0.5, 1, 2),
 'Deron Williams': (0.174, 4, 23),
 'Jumaine Jones': (0.105, 2, 19),
 'Matt Carroll': (0.364, 4, 11),
 'Tim Duncan': (0.324, 11, 34),
 'Nazr Mohammed': (1.0, 2, 2),
 'Luol Deng': (0.423, 11, 26),
 'Tony Parker': (0.444, 12, 27),
 'Manu Ginobili': (0.364, 8, 22),
 'Michael Finley': (0.562, 9, 16),
 'Michael Sweetney': (0.286, 2, 7),
 'Bruce Bowen': (0.167, 1, 6),
 'Jameer Nelson': (0.474, 18, 38),
 'Rafer Alston': (0.368, 7, 19),
 'Luther Head': (0.458, 11, 24),
 'Jarvis Hayes': (0.5, 3, 6),
 'Caron Butler': (0.56, 14, 25),
 'Corey Maggette': (0.556, 5, 9),
 'Shane Battier': (0.353, 6, 17),
 'Fred Jones': (0.444, 4, 9),
 'Sarunas Jasikevicius': (0.417, 5, 12),
 'Hedo Turkoglu': (0.5, 19, 38),
 'Derek Fisher': (0.455, 20, 44),
 'Andre Iguodala': (0.333, 9, 27),
 'Adonal Foyle': (0.455, 5, 11),
 'Malik Rose': (0.333, 2, 6),
 'Al Harrington': (0.368, 14, 38),
 'Bobby Jackson': (0.19, 4, 21),
 'Devin Harris': (0.733, 11, 15),
 'Jarron Collins': (nan, 0, 0),
 'Devin Brown': (0.125, 1, 8),
 'Gordan Giricek': (0.2, 1, 5),
 'Anthony Johnson': (0.167, 3, 18),
 'Morris Peterson': (0.333, 16, 48),
 'Jose Calderon': (0.0, 0, 3),
 'Vladimir Radmanovic': (0.429, 9, 21),
 'LeBron James': (0.593, 32, 54),
 'Larry Hughes': (0.333, 4, 12),
 'Pat Garrity': (0.364, 4, 11),
 'Donyell Marshall': (0.542, 13, 24),
 'Zydrunas Ilgauskas': (0.467, 7, 15),
 'James Posey': (0.25, 2, 8),
 'Desmond Mason': (0.333, 2, 6),
 'Bostjan Nachbar': (0.333, 1, 3),
 'Tracy McGrady': (0.367, 11, 30),
 'Rashad McCants': (0.273, 3, 11),
 'DerMarr Johnson': (0.167, 1, 6),
 'Eduardo Najera': (0.625, 5, 8),
 'Darrell Armstrong': (0.0, 0, 1),
 'Theo Ratliff': (0.75, 3, 4),
 'Joe Smith': (0.455, 5, 11),
 'Kirk Snyder': (0.429, 3, 7),
 'Marvin Williams': (0.571, 4, 7),
 'Salim Stoudamire': (0.444, 8, 18),
 'Damon Jones': (0.471, 8, 17),
 'Keyon Dooling': (0.36, 9, 25),
 'Tony Battie': (0.333, 3, 9),
 'Clifford Robinson': (0.833, 5, 6),
 'Robert Horry': (0.333, 1, 3),
 'Bonzi Wells': (0.545, 6, 11),
 'Andrew Bynum': (0.0, 0, 1),
 'Jeff McInnis': (0.5, 1, 2),
 'Etan Thomas': (0.0, 0, 2),
 'Earl Boykins': (0.55, 11, 20),
 'Orien Greene': (0.571, 4, 7),
 'Anthony Carter': (0.333, 1, 3),
 'J.R. Smith': (0.0, 0, 2),
 'Chris Kaman': (0.583, 7, 12),
 'Tyronn Lue': (0.526, 10, 19),
 'Jared Jeffries': (0.667, 4, 6),
 'Tayshaun Prince': (0.304, 7, 23),
 'Maurice Evans': (0.0, 0, 4),
 'Michael Ruffin': (0.0, 0, 3),
 'Carlos Arroyo': (0.385, 5, 13),
 'Antonio McDyess': (0.0, 0, 2),
 'Carlos Delfino': (nan, 0, 0),
 'Calbert Cheaney': (nan, 0, 0),
 'Damien Wilkins': (0.667, 4, 6),
 'Nate Robinson': (0.423, 11, 26),
 'Samuel Dalembert': (0.333, 1, 3),
 'Jason Kapono': (0.333, 1, 3),
 'Eric Snow': (0.375, 3, 8),
 'Drew Gooden': (0.571, 4, 7),
 'David Wesley': (0.5, 8, 16),
 'Stromile Swift': (0.556, 5, 9),
 'Juwan Howard': (0.353, 6, 17),
 'Martell Webster': (0.444, 4, 9),
 'Luke Walton': (0.333, 2, 6),
 'Brian Cook': (0.571, 4, 7),
 'Jacque Vaughn': (0.75, 3, 4),
 'Erick Dampier': (0.4, 2, 5),
 'Alan Henderson': (0.0, 0, 1),
 'Dan Dickau': (nan, 0, 0),
 'Sasha Vujacic': (1.0, 1, 1),
 'Laron Profit': (nan, 0, 0),
 'Jackie Butler': (1.0, 2, 2),
 'Kurt Thomas': (0.125, 1, 8),
 'Joey Graham': (0.0, 0, 4),
 'Justin Reed': (0.0, 0, 3),
 'Joel Przybilla': (1.0, 1, 1),
 'Adrian Griffin': (0.0, 0, 2),
 'DeSagana Diop': (0.0, 0, 1),
 'Antonio Daniels': (0.385, 5, 13),
 'Bernard Robinson': (0.25, 2, 8),
 'Maurice Taylor': (0.333, 2, 6),
 'Viktor Khryapa': (nan, 0, 0),
 'Steve Blake': (0.286, 8, 28),
 'Ruben Patterson': (0.222, 2, 9),
 "Shaquille O'Neal": (0.615, 8, 13),
 'Eddie House': (0.417, 5, 12),
 'Luke Jackson': (1.0, 1, 1),
 'Rasho Nesterovic': (0.667, 2, 3),
 'Kris Humphries': (0.0, 0, 2),
 'Jarrett Jack': (0.444, 4, 9),
 'Moochie Norris': (0.0, 0, 1),
 'Ryan Bowen': (0.25, 1, 4),
 'Brent Barry': (1.0, 1, 1),
 'Marcus Banks': (0.591, 13, 22),
 'Jiri Welsch': (0.0, 0, 1),
 'Scott Padgett': (1.0, 3, 3),
 'Earl Watson': (0.167, 2, 12),
 'Grant Hill': (0.571, 4, 7),
 'Kevin Martin': (0.5, 2, 4),
 'Lorenzen Wright': (0.5, 1, 2),
 'Danny Granger': (0.2, 3, 15),
 'Rasual Butler': (0.462, 6, 13),
 'Keith McLeod': (0.556, 5, 9),
 'Mateen Cleaves': (nan, 0, 0),
 'Dahntay Jones': (0.286, 2, 7),
 'Hakim Warrick': (0.0, 0, 1),
 'Jason Hart': (0.0, 0, 4),
 'Kenny Thomas': (0.818, 9, 11),
 'John Lucas III': (0.667, 2, 3),
 'Pat Burke': (0.0, 0, 3),
 'Qyntel Woods': (1.0, 5, 5),
 'Ike Diogu': (0.0, 0, 1),
 'Jeff Foster': (0.25, 1, 4),
 'Jerry Stackhouse': (0.3, 3, 10),
 'Brian Scalabrine': (0.375, 3, 8),
 'Nick Van Exel': (0.333, 1, 3),
 'Shaun Livingston': (0.333, 1, 3),
 'Trevor Ariza': (nan, 0, 0),
 'Dikembe Mutombo': (0.5, 1, 2),
 'Lamond Murray': (0.0, 0, 2),
 'Francisco Garcia': (0.5, 1, 2),
 'Mickael Pietrus': (0.455, 5, 11),
 'Travis Diener': (1.0, 1, 1),
 'Sasha Pavlovic': (1.0, 2, 2),
 'Charles Hayes': (1.0, 1, 1),
 'Robert Swift': (1.0, 1, 1),
 'Johan Petro': (nan, 0, 0),
 'Travis Outlaw': (0.0, 0, 2),
 'David Harrison': (1.0, 2, 2),
 'Ira Newble': (nan, 0, 0),
 'Lonny Baxter': (0.0, 0, 1),
 'Monta Ellis': (0.25, 2, 8),
 'Zarko Cabarkapa': (0.5, 1, 2),
 'Charlie Bell': (0.5, 1, 2),
 'Donell Taylor': (0.0, 0, 1),
 'Anderson Varejao': (0.5, 1, 2),
 'Andris Biedrins': (1.0, 1, 1),
 'Beno Udrih': (nan, 0, 0),
 'Pape Sow': (nan, 0, 0),
 'Brian Cardinal': (0.333, 2, 6),
 'Sean Marks': (0.5, 1, 2),
 'Dan Gadzuric': (1.0, 1, 1),
 'Antonio Burks': (0.333, 1, 3),
 'Jake Tsakalidis': (0.0, 0, 1),
 'Ryan Gomes': (0.429, 3, 7),
 'Royal Ivey': (0.0, 0, 1),
 'Chris Wilcox': (1.0, 3, 3),
 'Jason Collins': (0.0, 0, 1),
 'Malik Allen': (0.667, 2, 3),
 'Shavlik Randolph': (nan, 0, 0),
 'Carlos Boozer': (0.727, 8, 11),
 'Shandon Anderson': (nan, 0, 0),
 'Tony Allen': (0.333, 1, 3),
 'Darko Milicic': (0.0, 0, 1),
 'Eric Williams': (0.0, 0, 3),
 'Scot Pollard': (nan, 0, 0),
 'Jerome James': (nan, 0, 0),
 'Jake Voskuhl': (0.25, 1, 4),
 'Andre Barrett': (1.0, 1, 1),
 'Jermaine Jackson': (nan, 0, 0),
 'Darrick Martin': (0.0, 0, 2),
 'Linton Johnson': (0.333, 1, 3),
 'Gerald Green': (0.667, 4, 6),
 'Anthony Grundy': (0.5, 1, 2),
 'Aaron Williams': (0.5, 1, 2),
 'Francisco Elson': (nan, 0, 0),
 'Tony Delk': (0.25, 1, 4),
 'Dale Davis': (1.0, 1, 1),
 'Bracey Wright': (0.25, 1, 4),
 'Lindsey Hunter': (1.0, 2, 2),
 'Jason Maxiell': (1.0, 1, 1),
 'Kevin Burleson': (nan, 0, 0),
 'Mikki Moore': (1.0, 1, 1),
 'Alan Anderson': (0.0, 0, 1),
 'Donta Smith': (nan, 0, 0),
 'Will Bynum': (nan, 0, 0),
 'Zoran Planinic': (0.25, 1, 4),
 'Dwayne Jones': (1.0, 1, 1),
 'Howard Eisley': (0.0, 0, 2),
 'Dorell Wright': (0.0, 0, 1),
 'Earl Barron': (1.0, 1, 1),
 'Wayne Simien': (nan, 0, 0),
 'Zeljko Rebraca': (nan, 0, 0),
 "Boniface N'Dong": (0.0, 0, 1),
 'Daniel Ewing': (0.0, 0, 1),
 'Stephen Graham': (0.0, 0, 1),
 'Melvin Sanders': (1.0, 1, 1),
 'Lawrence Roberts': (0.75, 3, 4),
 'Anthony Roberson': (0.4, 2, 5),
 'Mark Madsen': (0.0, 0, 6),
 'Ronald Dupree': (0.5, 1, 2),
 'CJ Miles': (nan, 0, 0),
 'Linas Kleiza': (nan, 0, 0)}

In [768]:
x = ind.object_to_int(regular_season, 'points')

/Users/deepak/capstone/clutch-baller/indiviual_stats.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  new_df = df.convert_objects(convert_numeric=True)

In [769]:
new_x = ind.add_more_columns(x)
new_x.head()

,game_id,data_set,date,period,away_score,home_score,remaining_time,team,event_type,assist,block,player,points,result,steal,type,description,pts_difference,winner,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
443,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,96,102,00:01:07,MIL,free throw,,,Michael Redd,1,made,,Free Throw 1 of 2,Redd Free Throw 1 of 2 (20 PTS),-6,away,0,1,0,0,0,0,0,0
445,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:01:07,MIL,free throw,,,Michael Redd,1,made,,Free Throw 2 of 2,Redd Free Throw 2 of 2 (21 PTS),-5,away,0,1,0,0,0,0,0,0
446,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:00:47,PHI,miss,,,Allen Iverson,0,missed,,Jump Shot,MISS Iverson 18' Jump Shot,-5,away,0,0,0,0,0,1,0,0
447,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,97,102,00:00:45,MIL,rebound,,,T.J. Ford,-1,,,rebound defensive,Ford REBOUND (Off:1 Def:6),-5,away,0,0,0,0,1,0,0,0
448,"=""0020500001""",2005-2006 Regular Season,2005-11-01,4,99,102,00:00:41,MIL,shot,,,T.J. Ford,2,made,,Driving Layup,Ford Driving Layup (14 PTS),-3,away,1,0,0,0,0,0,0,0

In [770]:
result = ind.combine_stats(new_x)

In [760]:
new_x.head()

,shots_made,shots_missed,FT_made,FT_missed,off_rebound,total_rebound,assist_count,total_blocks
443,0,0,1,0,0,0,0,0
445,0,0,1,0,0,0,0,0
446,0,1,0,0,0,0,0,0
447,0,0,0,0,0,1,0,0
448,1,0,0,0,0,0,0,0

In [775]:
y = ind.combine_stats(regular_season)
y.head()

,player,shots_made_x,FT_made_x,FT_missed_x,off_rebound_x,total_rebound_x,shots_missed_x,assist_count_x,total_blocks_x,period_y,away_score_y,home_score_y,points_y,pts_difference_y,shots_made_y,FT_made_y,FT_missed_y,off_rebound_y,total_rebound_y,shots_missed_y,assist_count_y,total_blocks_y,period,away_score,home_score,points,pts_difference,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
0,Aaron Williams,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,5.0,109.0,110.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Adonal Foyle,5.0,2.0,2.0,6.0,16.0,6.0,5.0,0.0,27.0,623.0,633.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,4.0,74.0,75.0,2.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Adrian Griffin,0.0,0.0,2.0,3.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Al Harrington,14.0,17.0,11.0,6.0,18.0,24.0,6.0,2.0,4.0,96.0,96.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,30.0,691.0,693.0,17.0,-2.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
4,Al Jefferson,2.0,0.0,3.0,1.0,5.0,1.0,2.0,0.0,4.0,103.0,103.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [788]:
j= ind.combine_stats(regular_season)

In [793]:
m = regular_season.groupby(['player']).sum()

In [794]:
m.head()

,period,away_score,home_score,points,pts_difference,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
player,,,,,,,,,,,,,
Aaron Williams,10,212,214,2,-2,1,0,0,0,0,1,1,1
Adonal Foyle,136,3105,3086,-4,19,5,2,2,6,16,6,5,0
Adrian Griffin,53,1209,1219,-9,-10,0,0,2,3,9,2,0,0
Al Harrington,353,8008,8012,27,-4,14,17,11,6,18,24,6,2
Al Jefferson,45,1069,1082,-1,-13,2,0,3,1,5,1,2,0

In [636]:
m= m.drop(['period', 'away_score', 'home_score', 'points', 'pts_difference'], axis = 1)
m.head()

,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
player,,,,,,,,
Aaron Williams,1,0,0,0,0,1,1,1
Adonal Foyle,5,2,2,6,16,6,5,0
Adrian Griffin,0,0,2,3,9,2,0,0
Al Harrington,14,17,11,6,18,24,6,2
Al Jefferson,2,0,3,1,5,1,2,0

In [637]:
m = m[['shots_made', 'shots_missed', 'FT_made','FT_missed', 'off_rebound', 'total_rebound']]

In [612]:
w = regular_season.groupby('assist').sum()

In [795]:
w.head()

           player  assist_count
0                             0
1    Adonal Foyle             1
2   Al Harrington             7
3   Allen Iverson            19
4  Andre Iguodala             3

In [615]:
w = w.drop(['period', 'away_score',	'home_score', 'points',	'pts_difference','shots_made', 'FT_made', 'FT_missed', 'off_rebound','total_rebound', 'shots_missed', 'total_blocks'], axis =1)
w.head()

                assist_count
assist
                           0
Adonal Foyle               1
Al Harrington              7
Allen Iverson             19
Andre Iguodala             3

In [617]:
w.count()

assist_count    253
dtype: int64

In [796]:
v.head()

           player  total_blocks
0                             0
1  Aaron Williams             1
2    Adonal Foyle             6
3   Al Harrington             1
4    Al Jefferson             1

In [649]:
v = regular_season.groupby('block').sum()
v = v.drop(['period', 'away_score',	'home_score', 'points',	'pts_difference',	'shots_made',	'FT_made',	'FT_missed', 'off_rebound',	'total_rebound',	'shots_missed', 'assist_count'], axis =1)
v.head()

                total_blocks
block
                           0
Aaron Williams             1
Adonal Foyle               6
Al Harrington              1
Al Jefferson               1

In [652]:
w.head()

           player  assist_count
0                             0
1    Adonal Foyle             1
2   Al Harrington             7
3   Allen Iverson            19
4  Andre Iguodala             3

In [646]:
m.head()

,player,shots_made,shots_missed,FT_made,FT_missed,off_rebound,total_rebound
0,Aaron Williams,1,1,0,0,0,0
1,Adonal Foyle,5,6,2,2,6,16
2,Adrian Griffin,0,2,0,2,3,9
3,Al Harrington,14,24,17,11,6,18
4,Al Jefferson,2,1,0,3,1,5

In [747]:
result = result.fillna(0)

In [772]:
result = ind.combine_stats(regular_season)

In [773]:
result.head()

,player,period_x,away_score_x,home_score_x,points_x,pts_difference_x,shots_made_x,FT_made_x,FT_missed_x,off_rebound_x,total_rebound_x,shots_missed_x,assist_count_x,total_blocks_x,period_y,away_score_y,home_score_y,points_y,pts_difference_y,shots_made_y,FT_made_y,FT_missed_y,off_rebound_y,total_rebound_y,shots_missed_y,assist_count_y,total_blocks_y,period,away_score,home_score,points,pts_difference,shots_made,FT_made,FT_missed,off_rebound,total_rebound,shots_missed,assist_count,total_blocks
0,Aaron Williams,10.0,212.0,214.0,2.0,-2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,5.0,109.0,110.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Adonal Foyle,136.0,3105.0,3086.0,-4.0,19.0,5.0,2.0,2.0,6.0,16.0,6.0,5.0,0.0,27.0,623.0,633.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,4.0,74.0,75.0,2.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Adrian Griffin,53.0,1209.0,1219.0,-9.0,-10.0,0.0,0.0,2.0,3.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Al Harrington,353.0,8008.0,8012.0,27.0,-4.0,14.0,17.0,11.0,6.0,18.0,24.0,6.0,2.0,4.0,96.0,96.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,30.0,691.0,693.0,17.0,-2.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
4,Al Jefferson,45.0,1069.0,1082.0,-1.0,-13.0,2.0,0.0,3.0,1.0,5.0,1.0,2.0,0.0,4.0,103.0,103.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0