In [106]:
import pandas as pd
import numpy as np
import practice_code as pc
import indiviual_stats as a
%load_ext autoreload
%autoreload 2
from practice_code import replace_nan

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
df = pd.read_csv('/Users/deepak/Desktop/NBA_Data/Every_Season_Data/[2005-2006]-combined-stats.csv')

In [28]:
df = pc.replace_nan(df)

In [30]:
df = pc.add_columns(df)

/Users/deepak/capstone/clutch-baller/practice_code.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['winner'] = np.where(df2.pts_difference >0, 'away', 'home')

In [31]:
col_to_remove = ['a1', 'a2', 'a3','a4','a5','h1','h2','h3','h4','h5', 'play_length', 'entered', 'left', 'possession', 'shot_distance', 'original_x', 'original_y', 'converted_x', 'converted_y', 'num', 'away', 'home', 'outof', 'opponent', 'reason', 'elapsed', 'play_id']

In [32]:
df = pc.remove_col(df, col_to_remove)

In [33]:
clutch_time = pc.clutch_moment(df)

In [34]:
rows = ['sub', 'timeout', 'uknown', 'unknown', 'Ejection', 'violat', 'traveling', 'team reb', 'foul',
        'turnover', 'of period', 'lost ball', 'goaltend', 'bad pass', 'illegal', 'jump ball', 'o', 'backcourt']

In [35]:
clutch_time = pc.remove_junk_rows(clutch_time, 'type', rows)

In [36]:
clutch_time = pc.remove_not_imp_games(clutch_time, 'game_id')
clutch_time['game_id'].value_counts().count()

533

In [37]:
regular_season, playoffs =  pc.regular_or_playoffs(clutch_time, 'data_set')

In [78]:
p = a.player_names(regular_season)

In [79]:
p.head()

           player
0  Aaron Williams
1    Adonal Foyle
2  Adrian Griffin
3   Al Harrington
4    Al Jefferson

In [80]:
b = a.blk_stats(regular_season)

In [81]:
b.head()

           player  period  away_score  home_score  pts_difference
0                   48644     1083714     1085883           -2169
1  Aaron Williams       5         109         110              -1
2    Adonal Foyle      27         623         633             -10
3   Al Harrington       4          96          96               0
4    Al Jefferson       4         103         103               0

In [85]:
regular_season= a.object_to_int(regular_season, 'points')

/Users/deepak/capstone/clutch-baller/indiviual_stats.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  new_df = df.convert_objects(convert_numeric=True)

In [86]:
regular_season = a.add_more_columns(regular_season)

In [88]:
regular_season.head()

,game_id,assist,block,player,points,result,steal,type,description,winner,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count
443,"=""0020500001""",,,Michael Redd,1,made,,Free Throw 1 of 2,Redd Free Throw 1 of 2 (20 PTS),away,0,0,0,1,0,0,0,0
445,"=""0020500001""",,,Michael Redd,1,made,,Free Throw 2 of 2,Redd Free Throw 2 of 2 (21 PTS),away,0,0,0,1,0,0,0,0
446,"=""0020500001""",,,Allen Iverson,0,missed,,Jump Shot,MISS Iverson 18' Jump Shot,away,0,1,0,0,0,0,0,0
447,"=""0020500001""",,,T.J. Ford,-1,,,rebound defensive,Ford REBOUND (Off:1 Def:6),away,0,0,1,0,0,0,0,0
448,"=""0020500001""",,,T.J. Ford,2,made,,Driving Layup,Ford Driving Layup (14 PTS),away,1,0,0,0,0,0,0,0

In [92]:
a = a.combine_stats(regular_season)

In [97]:
b = a.player_names(regular_season)

In [98]:
b.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count
0,Aaron Williams,1,1,0,0,0,0,1,1
1,Adonal Foyle,5,6,16,2,6,2,0,5
2,Adrian Griffin,0,2,9,0,3,2,0,0
3,Al Harrington,14,24,18,17,6,11,2,6
4,Al Jefferson,2,1,5,0,1,3,0,2

In [102]:
c = a.blk_stats(regular_season)

In [103]:
c.head()

           player  total_blocks
0                             0
1  Aaron Williams             1
2    Adonal Foyle             6
3   Al Harrington             1
4    Al Jefferson             1

In [70]:
u = a.add_more_columns(regular_season)

In [65]:
i.head()

,player,period,away_score,home_score,pts_difference,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count
0,,45547,1015269,1017461,-2192,1082,3093,2955,2566,896,882,349,0
1,Adonal Foyle,4,74,75,-1,1,0,0,0,0,0,0,1
2,Al Harrington,30,691,693,-2,7,0,0,0,0,0,0,7
3,Allen Iverson,86,1865,1872,-7,19,0,0,0,0,0,0,19
4,Andre Iguodala,13,259,259,0,3,0,0,0,0,0,0,3

In [109]:
h = a.merge_all(b,c,a)

In [110]:
h.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks_x,assist_count,total_blocks_y
0,Aaron Williams,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,Adonal Foyle,5.0,6.0,16.0,2.0,6.0,2.0,0.0,5.0,6.0
2,Adrian Griffin,0.0,2.0,9.0,0.0,3.0,2.0,0.0,0.0,NaN
3,Al Harrington,14.0,24.0,18.0,17.0,6.0,11.0,2.0,6.0,1.0
4,Al Jefferson,2.0,1.0,5.0,0.0,1.0,3.0,0.0,2.0,1.0

In [111]:
b.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count
0,Aaron Williams,1,1,0,0,0,0,1,1
1,Adonal Foyle,5,6,16,2,6,2,0,5
2,Adrian Griffin,0,2,9,0,3,2,0,0
3,Al Harrington,14,24,18,17,6,11,2,6
4,Al Jefferson,2,1,5,0,1,3,0,2