In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/deepak/Desktop/NBA_Data/Every_Season_Data/[2005-2006]-combined-stats.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591352 entries, 0 to 591351
Data columns (total 44 columns):
game_id           591352 non-null object
data_set          591352 non-null object
date              591352 non-null object
a1                591352 non-null object
a2                591352 non-null object
a3                591352 non-null object
a4                591352 non-null object
a5                591352 non-null object
h1                591352 non-null object
h2                591352 non-null object
h3                591352 non-null object
h4                591352 non-null object
h5                591352 non-null object
period            591352 non-null int64
away_score        591352 non-null int64
home_score        591352 non-null int64
remaining_time    591352 non-null object
elapsed           591352 non-null object
play_length       591352 non-null object
play_id           591352 non-null int64
team              536776 non-null object
event_type        591352 non-null object
assist            53747 non-null object
away              2291 non-null object
home              2291 non-null object
block             12265 non-null object
entered           51518 non-null object
left              51518 non-null object
num               69229 non-null float64
opponent          59877 non-null object
outof             69229 non-null float64
player            536899 non-null object
points            276328 non-null float64
possession        2168 non-null object
reason            99609 non-null object
result            276328 non-null object
steal             18677 non-null object
type              591352 non-null object
shot_distance     207099 non-null float64
original_x        207099 non-null float64
original_y        207099 non-null float64
converted_x       207099 non-null float64
converted_y       207099 non-null float64
description       577328 non-null object
dtypes: float64(8), int64(4), object(32)
memory usage: 198.5+ MB

In [3]:
regular_season = df[df['data_set']=='2005-2006 Regular Season']

In [4]:
playoffs= df[df['data_set']=='2006 Playoff']

In [5]:
fourth_quarter = (regular_season[regular_season['period']>=4]) #| (regular_season_4th[regular_season_4th['remaining_time'] < '00:02:00'])

In [6]:
fourth_quarter = fourth_quarter.drop(['a1', 'a2', 'a3','a4','a5','h1','h2','h3','h4','h5', 'play_length', 'entered', 'left', 'possession', 'shot_distance', 'original_x', 'original_y', 'converted_x', 'converted_y'], axis = 1)

In [7]:
fourth_quarter['pts_difference'] = fourth_quarter['away_score']-fourth_quarter['home_score']

In [8]:
fourth_quarter = fourth_quarter[fourth_quarter['pts_difference']>=-7]
fourth_quarter = fourth_quarter[fourth_quarter['pts_difference']<=7]

In [9]:
fourth_quarter['period'].unique()

array([4, 5, 6, 7])

In [13]:
regular_season_5min = fourth_quarter[(fourth_quarter['remaining_time'] < '00:05:00')] #| (regular_season_4th[regular_season_4th['period']>=5])]

In [26]:
regular_season_5min['game_id'].value_counts()

776

In [15]:
regular_season_5min.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39022 entries, 400 to 551271
Data columns (total 26 columns):
game_id           39022 non-null object
data_set          39022 non-null object
date              39022 non-null object
period            39022 non-null int64
away_score        39022 non-null int64
home_score        39022 non-null int64
remaining_time    39022 non-null object
elapsed           39022 non-null object
play_id           39022 non-null int64
team              33620 non-null object
event_type        39022 non-null object
assist            2433 non-null object
away              75 non-null object
home              75 non-null object
block             692 non-null object
num               6367 non-null float64
opponent          4423 non-null object
outof             6367 non-null float64
player            33629 non-null object
points            17519 non-null float64
reason            6129 non-null object
result            17519 non-null object
steal             865 non-null object
type              39022 non-null object
description       38258 non-null object
pts_difference    39022 non-null int64
dtypes: float64(3), int64(5), object(18)
memory usage: 8.0+ MB

In [218]:
regular_season_2min['game_id'].value_counts().count()

697

In [241]:
x= regular_season_2min[~regular_season_2min.type.str.contains('foul')]
#df[~df.C.str.contains("XYZ")]


# x= regular_season_2min.ix[regular_season_2min['type']=='s.foul']
# x= regular_season_2min.ix[regular_season_2min['type']=='sub']
# x= regular_season_2min.ix[regular_season_2min['type']=='timeout: regular']

In [242]:
x= x[~x.type.str.contains('sub')]

In [243]:
x= x[~x.type.str.contains('timeout')]