In [259]:
import pandas as pd
import numpy as np
import practice_code as pc
import indiviual_stats as a
%load_ext autoreload
%autoreload 2
from practice_code import replace_nan

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import accuracy_score, recall_score

from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
df = pd.read_csv('/Users/deepak/Desktop/NBA_Data/Every_Season_Data/[2005-2006]-combined-stats.csv')

In [28]:
df = pc.replace_nan(df)

In [30]:
df = pc.add_columns(df)

/Users/deepak/capstone/clutch-baller/practice_code.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df2['winner'] = np.where(df2.pts_difference >0, 'away', 'home')

In [31]:
col_to_remove = ['a1', 'a2', 'a3','a4','a5','h1','h2','h3','h4','h5', 'play_length', 'entered', 'left', 'possession', 'shot_distance', 'original_x', 'original_y', 'converted_x', 'converted_y', 'num', 'away', 'home', 'outof', 'opponent', 'reason', 'elapsed', 'play_id']

In [32]:
df = pc.remove_col(df, col_to_remove)

In [33]:
clutch_time = pc.clutch_moment(df)

In [34]:
rows = ['sub', 'timeout', 'uknown', 'unknown', 'Ejection', 'violat', 'traveling', 'team reb', 'foul',
        'turnover', 'of period', 'lost ball', 'goaltend', 'bad pass', 'illegal', 'jump ball', 'o', 'backcourt']

In [35]:
clutch_time = pc.remove_junk_rows(clutch_time, 'type', rows)

In [36]:
clutch_time = pc.remove_not_imp_games(clutch_time, 'game_id')
clutch_time['game_id'].value_counts().count()

533

In [172]:
regular_season, playoffs =  pc.regular_or_playoffs(clutch_time, 'data_set')

In [193]:
regular_season= a.object_to_int(regular_season, 'points')

/Users/deepak/capstone/clutch-baller/indiviual_stats.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  new_df = df.convert_objects(convert_numeric=True)

In [194]:
new_regular_season = a.add_more_columns(regular_season)

In [215]:
k = a.combine_stats(new_regular_season)

In [206]:
p = a.player_names(new_regular_season)

In [203]:
b = a.blk_stats(new_regular_season)

In [318]:
h = a.merge_all(p, b, k)

In [319]:
h = h[h['player'] != '']

In [320]:
#h['shooting_percentage'] = 
h['shooting_percentage'] = h['shots_made']/(h['shots_made'] + h['shots_missed'])

In [321]:
h['FT_percentage'] = h['FT_made']/(h['FT_made']+ h['FT_missed'])
h.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count,shooting_percentage,FT_percentage
0,Aaron Williams,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.500000,NaN
1,Adonal Foyle,5.0,6.0,16.0,2.0,6.0,2.0,6.0,1.0,0.454545,0.500000
2,Adrian Griffin,0.0,2.0,9.0,0.0,3.0,2.0,0.0,0.0,0.000000,0.000000
3,Al Harrington,14.0,24.0,18.0,17.0,6.0,11.0,1.0,7.0,0.368421,0.607143
4,Al Jefferson,2.0,1.0,5.0,0.0,1.0,3.0,1.0,0.0,0.666667,0.000000

In [322]:
h = h.fillna(0)

In [241]:
playoff = a.object_to_int(playoffs, 'points')

/Users/deepak/capstone/clutch-baller/indiviual_stats.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  new_df = df.convert_objects(convert_numeric=True)

In [242]:
play = a.add_more_columns(playoff)

In [243]:
o = a.combine_stats(play)

In [244]:
n = a.player_names(play)

In [245]:
m = a.blk_stats(play)

In [323]:
mrg = a.merge_all(n,m,o)

In [291]:
c = (pd.DataFrame(h.player.unique(), columns=['player']).reset_index().rename(columns={'index': 'player_id'})

In [324]:
h = pd.merge(
    h,
    pd.DataFrame(h.player, columns=['player']).reset_index().rename(columns={'index': 'player_id'}),
    on='player'
)

In [327]:
h.head()

,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count,shooting_percentage,FT_percentage,player_id
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.500000,0.000000,0
1,5.0,6.0,16.0,2.0,6.0,2.0,6.0,1.0,0.454545,0.500000,1
2,0.0,2.0,9.0,0.0,3.0,2.0,0.0,0.0,0.000000,0.000000,2
3,14.0,24.0,18.0,17.0,6.0,11.0,1.0,7.0,0.368421,0.607143,3
4,2.0,1.0,5.0,0.0,1.0,3.0,1.0,0.0,0.666667,0.000000,4

In [326]:
h = h.drop('player', axis = 1)

In [328]:
mrg = pd.merge(
    mrg,
    pd.DataFrame(mrg.player, columns=['player']).reset_index().rename(columns={'index': 'player_id'}),
    on='player'
)
#mrg = mrg.drop('player', axis = 1)

In [329]:
mrg.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count,player_id
0,Adrian Griffin,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,Anderson Varejao,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,Andres Nocioni,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,2
3,Antawn Jamison,0.0,6.0,2.0,3.0,0.0,1.0,0.0,0.0,3
4,Anthony Johnson,1.0,5.0,0.0,2.0,0.0,0.0,0.0,1.0,4

In [274]:
mrg['player'] = mrg["player"].astype('category')

#df["Name"] = df["Name"].astype('category')
#mrg['player_id'] = c.cat.codes

In [280]:
h['player'] = h["player"].astype('category')

In [330]:
mrg = mrg[mrg.player != '']

In [331]:
mrg['shooting_percentage'] = mrg['shots_made']/(mrg['shots_made'] + mrg['shots_missed'])
mrg['FT_percentage'] = mrg['FT_made']/(mrg['FT_made']+ mrg['FT_missed'])
mrg = mrg.fillna(0)
mrg.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count,player_id,shooting_percentage,FT_percentage
0,Adrian Griffin,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.00
1,Anderson Varejao,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0.000000,0.00
2,Andres Nocioni,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,2,0.000000,1.00
3,Antawn Jamison,0.0,6.0,2.0,3.0,0.0,1.0,0.0,0.0,3,0.000000,0.75
4,Anthony Johnson,1.0,5.0,0.0,2.0,0.0,0.0,0.0,1.0,4,0.166667,1.00

In [345]:
#x_train = h.drop('shooting_percentage', axis = 1)
x_test = x_test.drop('shooting_percentage', axis = 1)
#y_train = h['shooting_percentage']
#y_test = mrg['shooting_percentage']

In [344]:
x_test = mrg.drop('player', axis = 1)

In [332]:
x_test.head()

,player,shots_made,shots_missed,total_rebound,FT_made,off_rebound,FT_missed,total_blocks,assist_count,FT_percentage
0,Adrian Griffin,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.00
1,Anderson Varejao,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.00
2,Andres Nocioni,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,1.00
3,Antawn Jamison,0.0,6.0,2.0,3.0,0.0,1.0,0.0,0.0,0.75
4,Anthony Johnson,1.0,5.0,0.0,2.0,0.0,0.0,0.0,1.0,1.00

In [346]:
model = GradientBoostingRegressor()
fit = model.fit(x_train, y_train)
pred = fit.predict(x_test)

In [357]:
accuracy_score(y_train,y_test)

ValueError: Found input variables with inconsistent numbers of samples: [373, 102]

In [355]:
y_test.shape

(102,)